* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration-style: none;
  }
  
// APLICACION DE SASS

@import "variable";

/* Body */

.container{
      
    background-color:$color-principal;
  }

  /* Header */

header {
  background-color: white;

 nav {

    .navBarM {
      background-color: white;

      }
    }
  }


h2{
  color:$color-texto;
  font-size:$tam-fuente;
}

  
  /* Pagina de inicio */
  
  .imgInicio {  
    object-fit: cover;
    width: 600px;
    height: 500px;
  }
  
  section{
    text-transform: uppercase;
    
    .parrafoInicio{
      margin: 25px;

    }
  }


   /* FOOTER  */
  
   footer {
    background-color: greenyellow;
    color: green;
    font-size: 1.8rem;

    ul{

      text-transform: uppercase;

      li{

        font-size: 2rem;

        a{

          color: green !important;


          &:hover {
            background-color: aqua
          }

        }
      };
    }
  
  
  
  }
 
  
  /* Pagina de productos */
  
  .imgProductos {
    height: 300px;
    object-fit: cover;
  }
  .imgProducto1{
    margin: 7px;
  
  }
  
  .btnColor1{
    background-color: darkcyan;
      color: white;
      font-size: 1.2rem;
  }
  
  /* Pagina de contacto */
  .imgContacto{
    object-fit: cover;
    width: 500px;
    height: 400px;
  
  }
  
  .textStrong{
    text-transform:uppercase;
    font-weight: bold;
  
  }
  
  /* Pagina de Formas de pago */
  
  .menuFormPago{
    background-color: darkcyan;
  }
  
  .textColor {
    color: white;
  }
  
  .fondoColorGradiente {
    background: linear-gradient(to right, rgb(27, 197, 197), darkcyan);
    color: white;
    font-size: 1.2rem;
  }
  
 
  

  
